<!-- Composant de logo -->
<app-logo></app-logo>

<!-- Composant carroussel -->

<div class="container">
    <div class="row">
        <div id="idCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item welcome-carousel-image1 active">
                <!--img src="..." class="d-block w-100" alt="..."-->
              </div>
              <div class="carousel-item welcome-carousel-image2">
                <!--img src="..." class="d-block w-100" alt="..."-->
              </div>
              <div class="carousel-item welcome-carousel-image3">
                <!--img src="..." class="d-block w-100" alt="..."-->
              </div>
            </div>
          </div>
    </div>
</div>

<!-- Composant du formulaire -->
