<div class="container">
    <div class="row">
        <div id="idCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item welcome-carousel-image1 active">
                <!--img src="src/assets/images/carousel1.jpg" class="d-block w-100" alt="image 1"-->
              </div>
              <div class="carousel-item welcome-carousel-image2">
                <!--img src="src/assets/images/carousel2.jpg" class="d-block w-100" alt="..."-->
              </div>
              <div class="carousel-item welcome-carousel-image3">
                <!--img src="src/assets/images/carousel3.jpg" class="d-block w-100" alt="..."-->
              </div>
            </div>
          </div>
    </div>
</div>